@using Telerik.Blazor.Components



@if (ViewModel.Model is null)
{
    return;
}


<h4>Spremeni geslo:</h4>
<IPSRow>
     <IPSColumn Md="3">
        <IPSForm Model=ViewModel OnSaved=@(() => ItemSaved.InvokeAsync())>
            <FormFields>
                <IPSColumn>
                    <IPSLabel For="col_password">Tekoče geslo</IPSLabel>
                    <div class="input-group">
                        <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HideCurrentPassword @bind-Value=@ViewModel.Model.CurrentPassword ></TelerikTextBox>
                        <div class="input-group-append">
                            <IPSButton Class="ms-1" Type=IPSBlazor.Components.ButtonType.Button Color=Color.Primary IconClass="@(HideCurrentPassword ? "fa fa-eye" : "fa fa-eye-slash")" OnClick="() => HideCurrentPassword = !HideCurrentPassword"></IPSButton>
                        </div>
                    </div>
                    <br />
                    <IPSLabel For="col_password">Novo geslo</IPSLabel>
                    <div class="input-group">
                        <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HideNewPassword @bind-Value=@ViewModel.Model.NewPassword></TelerikTextBox>
                        <div class="input-group-append">
                            <IPSButton Class="ms-1" Type=IPSBlazor.Components.ButtonType.Button Color=Color.Primary IconClass="@(HideNewPassword ? "fa fa-eye" : "fa fa-eye-slash")" OnClick="() => HideNewPassword = !HideNewPassword"></IPSButton>
                        </div>
                    </div>
                    <IPSLabel For="col_password">Potrdi novo geslo</IPSLabel>
                    <div class="input-group">
                        <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HideConfirmPassword @bind-Value=@ViewModel.Model.ConfirmPassword></TelerikTextBox>
                        <div class="input-group-append">
                            <IPSButton Class="ms-1" Type=IPSBlazor.Components.ButtonType.Button Color=Color.Primary IconClass="@(HideConfirmPassword ? "fa fa-eye" : "fa fa-eye-slash")" OnClick="() => HideConfirmPassword = !HideConfirmPassword"></IPSButton>
                        </div>
                    </div>
                </IPSColumn>
            </FormFields>
            <FormButtons>
                <IPSButton Color="Color.Primary" Disabled=IsDisabled OnClick=ChangePassword>Spremeni</IPSButton>
            </FormButtons>
        </IPSForm> 
    </IPSColumn>
</IPSRow>