@*@page "/account/forgotten-password"

<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<IPSRow>
    <IPSColumn Md="4">
        <IPSForm Model=@ViewModel OnValidSubmit=SendPasswordResetEmail>
            <FormFields>
                <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.Email)) />
            </FormFields>
            <FormButtons>
                <IPSButton Color=Color.Primary>Reset password</IPSButton>
            </FormButtons>
        </IPSForm>
        @if (_showEmailSentMessage)
        {
            <p>Please check your email to reset your password.</p>
        }
    </IPSColumn>
</IPSRow>*@