@using Telerik.Blazor.Components

@page "/account/register"

@if (ViewModel.Model is null)
{
    return;
}

@if (!confirmationVisible)
{
    <IPSRow>
        <IPSColumn Md="4">
            <IPSCard Class="p-3">
                <h1>@PageTitle</h1>
                <hr />
                <IPSForm Model=ViewModel OnValidSubmit=RegisterUser >
                    <FormFields>
                        <IPSTextBox  Property=@(ViewModel.GetProperty(() => ViewModel.Model.Email)) Autocomplete=Autocomplete.Off />
                        <IPSLabel For="col_password">Geslo</IPSLabel>
                        <div class="input-group">
                            <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HidePassword @bind-Value=@ViewModel.Model.Password ></TelerikTextBox>
                            <div class="input-group-append">
                                <IPSButton Class="ms-1" Type=ButtonType.Button Color=Color.Primary IconClass="@(HidePassword ? "fa fa-eye" : "fa fa-eye-slash")" OnClick=ShowPassword></IPSButton>
                            </div>
                        </div>
                        <IPSLabel For="col_password">Potrdi geslo</IPSLabel>
                        <div class="input-group">
                            <TelerikTextBox DebounceDelay=0 Class="form-control" Password=HideConfirmPassword @bind-Value=@ViewModel.Model.ConfirmPassword></TelerikTextBox>
                            <div class="input-group-append">
                                <IPSButton Class="ms-1" Type=ButtonType.Button Color=Color.Primary IconClass="@(HideConfirmPassword ? "fa fa-eye" : "fa fa-eye-slash")" OnClick=ShowConfirmPassword></IPSButton>
                            </div>
                        </div>
                        <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.Name)) />
                        <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.Surname)) />
                    </FormFields>
                    <FormButtons>
                        <IPSButton Color=Color.Primary Type="IPSBlazor.Components.ButtonType.Submit">Registracja</IPSButton>
                    </FormButtons>
                </IPSForm>
                @_actionResult?.AsAlert()
            </IPSCard>
        </IPSColumn>
    </IPSRow>
}
else
{
    <IPSPageTop Title="Potrditev registracije"></IPSPageTop>

    <IPSAlert Color=@Color.Success>
        <p>@ConfirmationMessage <IPSLink Class="me-auto" Link=@UrlInConfirm>@LinkInConfirm</IPSLink>  </p>
    </IPSAlert>
}

