@*@page "/account/reset-password"

<h1>Reset password</h1>
<h2>Reset your password.</h2>
<IPSRow>
    @if (_initializationResult is not null)
    {
        _initializationResult.AsAlert();
    }
    else
    {
        <IPSColumn Md="4">
            <IPSForm Model=ViewModel OnValidSubmit=ResetUserPassword>
                <FormFields>
                    <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.Email)) />
                    <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.Password)) />
                    <IPSTextBox Property=@(ViewModel.GetProperty(() => ViewModel.Model.ConfirmPassword)) />
                </FormFields>
                <FormButtons>
                    <IPSButton Color=Color.Primary>Reset</IPSButton>
                </FormButtons>
            </IPSForm>
            @if (_showConfirmationMessage)
            {
                <IPSAlert Color=Color.Success>Your password has been reset. Please <IPSLink Link="/account/sign-in">click here to sign in</IPSLink>.</IPSAlert>
            }
            else
            {
                _actionResult?.AsAlert();
            }
        </IPSColumn>
    }
</IPSRow>*@