@using IPSBlazor.Components
@using IPSBlazor.Layouts
@using IPSTemplate.UI.Blazor.Helpers
@using IPSTemplate.UI.Blazor.Shared.Navigation
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Localization

@inherits LayoutComponentBase
@layout IPSBlazorLayout

<IPSBasicLayout>
    <Body>
        @Body
    </Body>
</IPSBasicLayout>
