
@using BusinessLibrary.BO.Borrowings
@using Dal.Models
@using IPSTemplate.BusinessLibrary.BO.Identity.User;

@inherits EditView<TEBorrowingsBO, TEBorrowings>

@if (ViewModel?.Model is null)
{
    <IPSLoader />
    return;
}

@if (Error is not null)
{
    @Error
    return;
}

<AuthorizeView Roles="Administrator" Context="Auth">

    <IPSForm Model=ViewModel OnSaved=@(() => ItemSaved.InvokeAsync())>
        <FormFields>
            <IPSComboBox @ref=cbxUser TItem=TEUserInfo TValue=Guid
                         TextField=@nameof(TEUserInfo.DisplayName)
                         ValueField=@nameof(TEUserInfo.Id)
                         Property=@ViewModel.GetProperty(() => ViewModel.Model.UserID)
                         OnRead="GetUsers" Label="Uporabnik" />
        </FormFields>
        <FormButtons>
            <IPSButton Color="Color.Success" Type="IPSBlazor.Components.ButtonType.Submit" OnClick="HandleSave">Izposodi</IPSButton>
        </FormButtons>
    </IPSForm>
</AuthorizeView>

<AuthorizeView Roles="Member" Context="Auth">
    <IPSForm Model=ViewModel OnSaved=@(() => ItemSaved.InvokeAsync())>
        <FormFields>
            <h3>Želiš izposoditi knjigo - @BookTitle?</h3>
            <br />
        </FormFields>
        <FormButtons>
            <IPSButton Color="Color.Success" Type="IPSBlazor.Components.ButtonType.Submit" OnClick="HandleSave">Izposodi</IPSButton>
        </FormButtons>
    </IPSForm>
</AuthorizeView>

