
@using BusinessLibrary.BO.Borrowings
@using Dal.Models
@using IPSTemplate.BusinessLibrary.BO.Identity.User;

@inherits EditView<TEBorrowingsBO, TEBorrowings>

@if (ViewModel?.Model is null)
{
    <IPSLoader />
    return;
}

@if (Error is not null)
{
    @Error
    return;
}

<IPSForm Model=ViewModel OnSaved=@(() => ItemSaved.InvokeAsync())>
    <FormFields>
        <h5>Želiš vrniti knjigo - @BookName?</h5>
        <br/>
        <p>Začetek izposoji: @ViewModel.Model.StartBorrowing.ToString("dd/MM/yyyy")</p>
        <p>Konec izposoji: @ViewModel.Model.EndBorrowing.ToString("dd/MM/yyyy")</p>
    </FormFields>
    <FormButtons>
        <IPSButton Size=ButtonSize.Large Color="Color.Success" Type="IPSBlazor.Components.ButtonType.Submit" OnClick="HandleSave">Vrni</IPSButton>
    </FormButtons>
</IPSForm>